/* ---------------------------- index stylesheet ---------------------------- */

/* -------------- main layout -------------- */
html {
	background-image: url(/images/grid.png);
	animation: background 12s infinite linear; /* sometimes i comment this bc it makes it easier to code. if ur snoopin around and see this off, remind me 2 turn it back on lol */
	color: var(--light);
	font-family: nds;
	font-size: 20px;
	line-height: 1;
}

body {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
/* -------------- container -------------- */
.container {
	position: relative;
}

.text {
	background-color: #1d1d1d; /* usually all colors are defined as variables but this is specifically similar to the 3ds bg color for accessibility reasons */
	width: 270px;
	height: 160px;
	overflow-y: scroll;
	transform: skew(-20deg, 2deg);
}
.notfound {
	background-color: var(--black);
	border: 2px var(--white) solid;
	box-shadow: 10px 10px 25px var(--black);
	padding: 10px;
	margin: 5px;
	text-align: center;
}
.impcontainer {
	background-color: var(--black);
	border: 2px var(--white) solid;
	box-shadow: 10px 10px 25px var(--black);
	padding: 10px;
	margin: 5px;
}

/* -------------- positioning -------------- */

#header {
	background-color: var(--black);
	border: 2px var(--white) solid;
	box-shadow: 10px 10px 25px var(--black);
	padding: 10px;
	margin: 5px;
	text-align: center;
	position: absolute;
	z-index: 3;
	width: 500px;
	right: 250px;
}

#splashtext {
	position: absolute;
	color: var(--yellow);
	right: -50px;
	top: 70px;
	rotate: -15deg;
	animation: grow 2.5s infinite linear;
	filter: drop-shadow(var(--black) 2px 2px);
}

#planet {
	position: absolute;
	z-index: 4;
	left: -205px;
	filter: drop-shadow(rgba(0, 0, 0, 0.294) 0.3rem 0.3rem 5px);
}

#ds {
	position: absolute;
	z-index: 1;
	top: -15px;
	left: 350px;
	pointer-events: none;
	filter: drop-shadow(rgba(0, 0, 0, 0.294) 0.3rem 0.3rem 5px);
}

#mini {
	position: absolute;
	z-index: 6;
	right: 120px;
	top: 130px;
	rotate: 11deg;
	transform: skew(-0deg);
}

#intro {
	position: absolute;
	z-index: 5;
	right: 170px;
	top: 385px;
	rotate: 12deg;
	text-align: center;
}

/* -------------- animation -------------- */
@keyframes background {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 300px 200px;
	}
}

@keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
