/* ---------------------------- home stylesheet ---------------------------- */

/* -------------- colors -------------- */

:root {
	/* ----- purples ----- */
	--dark: #2301a9;
	--mediumdark: #3810d1;
	--medium: #9985e8;
	--mediumlight: #b6a8ef;
	--light: #d6cef6;
	/* ----- grayscale ----- */
	--black: #171717;
	--white: #ffffff;
}

/* -------------- page -------------- */
html {
	background-image: url(../images/grid.png);
	animation: background 12s infinite linear; /* sometimes i comment this bc the moving background kills my laptop live preview. if ur snoopin in the code and see this off, remind me 2 turn it back on lol */
}

/* -------------- grid -------------- */

/* -- container -- */
.grid-cont {
	width: 950px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-areas:
		"banner banner banner banner banner"
		"blurb blurb blurb blurb music"
		"welcome welcome welcome clock music"
		"welcome welcome welcome calendar music"
		"welcome welcome welcome calendar nav"
		"updates updates updates to-do nav"
		"featureds featureds featured featured nav"
		"featureds featureds poll poll stats"
		"featureds featureds poll poll buttons"
		"footer footer footer footer footer";

	padding: 10px;
}

/* -- all sections -- */
.grid-sec {
	background-color: var(--black);
	border: 2px var(--white) solid;
	box-shadow: 10px 10px 25px var(--black);
	padding: 10px;
	margin: 5px;
}

/* -- indvidual sections -- */
#g1 {
	grid-area: banner;
	text-align: center;
}
#g2 {
	grid-area: blurb;
}
#g3 {
	grid-area: music;
	position: relative;
}
#g4 {
	grid-area: welcome;
}
#g5 {
	grid-area: clock;
	text-align: center;
	font-size: 25px;
}
#g6 {
	grid-area: calendar;
}
#g7 {
	grid-area: nav;
}
#g8 {
	grid-area: updates;
	height: 370px;
	overflow: scroll;
	overflow-x: hidden;
}
#g9 {
	grid-area: to-do;
}
#g10 {
	grid-area: featured;
}
#g11 {
	grid-area: featureds;
	text-align: center;
}
#g12 {
	grid-area: poll;
}
#g13 {
	grid-area: stats;
}
#g14 {
	grid-area: buttons;
	text-align: center;
}
#g15 {
	grid-area: footer;
	text-align: center;
}

/* -------------- decoration -------------- */

#pointcake {
	position: absolute;
	z-index: 1;
	left: 130px;
}

/* -------------- animation -------------- */
@keyframes background {
	0% {
		background-position: 0px 0px;
	}
	100% {
		background-position: 300px 200px;
	}
}
