/* ---------------------------- about stylesheet ---------------------------- */

/* -------------- colors -------------- */
:root {
	/* ----- purples ----- */
	--dark: #2301a9;
	--mediumdark: #3810d1;
	--medium: #9985e8;
	--mediumlight: #b6a8ef;
	--light: #d6cef6;
	/* ----- grayscale ----- */
	--black: #171717;
	--white: #ffffff;
}

/* -------------- main layout -------------- */
html {
	background-image: url(/pages/about/images/konatawinxp.png);
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	width: 1000px;
}
/* -------------- windows -------------- */

/* ----- about ----- */
#abouthead {
	width: 600px;
	position: absolute;
	top: 40px;
	left: 40px;
}

#aboutbody {
	height: 470px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#topfavs {
	text-align: center;
}

#statuscafe {
	padding: 0.5em;
	background-color: azure;
	border: 1px solid midnightblue;
}
#statuscafe-username {
	margin-bottom: 0.5em;
}
#statuscafe-content {
	margin: 0 1em 0.5em 1em;
}

#friendcodes {
	text-align: center;
}

#friendcodes > img {
	width: 150px;
}

/* --- about grid --- */

.abt-grid-cont {
	display: grid;
	grid-template-areas: "left right";
	padding: 10px;
}

.abt-grid-sec {
	margin: 15px;
}

#ag1 {
	grid-area: left;
	text-align: center;
	width: 200px;
}
#ag2 {
	grid-area: right;
	text-align: center;
}
/* ----- blinkies ----- */
#blinkies {
	width: 350px;
	position: absolute;
	bottom: 40px;
	right: 570px;
	text-align: center;
}

.blinkieimg {
	width: 150px;
	height: 22px;
}

/* ----- lastfm ----- */
#lastfm {
	position: absolute;
	top: 40px;
	right: 450px;
	width: 300px;
	text-align: center;
}

/* --- lastfm grid --- */

.lastfm-grid-cont {
	display: grid;
	grid-template-areas: "left right";
	padding: 10px;
}

.lastfm-grid-sec {
	margin: 5px;
}

#mg1 {
	grid-area: left;
	text-align: center;
}
#mg2 {
	grid-area: right;
	text-align: center;
}

/* ----- blinkies ----- */
#home {
	position: absolute;
	bottom: 40px;
	right: 15px;
	width: 250px;
	text-align: center;
}
